NODE_ENV=development

# Database
POSTGRES_DB=example_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
DB_HOST=dzastr-db
DB_PORT=5432
DB_EXPOSED_PORT=5433
DB_URL=postgresql://example_user:example_password@dzastr-db:5432/example_db

# Services ports
AUTH_PORT=8081
MO_PORT=8080
FO_PORT=4200

# Auth secrets
AUTH_SERVICE_TOKEN=example_auth_service_token
SERVICE_TOKEN=example_service_token
JWT_SECRET=example_jwt_secret
JWT_EXPIRES_IN=1h

# Frontend API endpoint (used at build time)
VITE_API_URL=http://dzaster-auth:8081