[submodule "dzastr-fo"]
	path = dzastr-fo
	url = https://github.com/Projet-D-ZASTR/dzastr-fo
[submodule "dzastr-mo"]
	path = dzastr-mo
	url = https://github.com/Projet-D-ZASTR/dzastr-mo
[submodule "dzastr-auth"]
	path = dzastr-auth
	url = https://github.com/Projet-D-ZASTR/dzastr-auth
